<div id='nav'>
	<div class='nav-wrapper'>
		<div class='gregcha'>
			<%= image_tag 'me/me.png' %>
			<p>gregcha<span>.</span></p>
		</div>
		<div class='nav-links'>
			<a href="#work">work</a>
			<a href="#about">about</a>
			<a href="#footer">contact</a>
		</div>
	</div>
</div>

<div id='cover'>
	<% image_tag 'icons/cover.svg' %>
</div>

<div id='intro'>
  <%= image_tag 'me/me.png' %>
	<h1>Hello! My name is Grégoire /[<span>gregwar</span>]/</h1>
	<p>
    I'm a product manager living in Paris. I like to design and build cool products on my spare time. Passionate about solving complex problems, and driving cross-functional teams in dynamic environments.
  </p>
</div>

<div id='domains'>
	<div class='domain-single'>
		<%= image_tag 'icons/product.svg' %>
		<h2>Product Management</h2>
		<p>User research, data analysis, customer interviews, requirements gathering, feature definition, sketching and wireframing are some of my day to day activities.</p>
	</div>
	<div class='domain-single'>
		<%= image_tag 'icons/design.svg' %>
		<h2>UI/UX Design</h2>
		<p>I design simple and clean interfaces for web and mobile, with focus on efficiency, usability, and great user experience.</p>
	</div>
	<div class='domain-single'>
		<%= image_tag 'icons/code.svg' %>
		<h2>Web Development</h2>
		<p>I build websites that look good on any device, using the latest technologies. My skills include Ruby, Rails, HTML(5), CSS(3), SASS, jQuery.</p>
	</div>
</div>

<div class="separator"></div>

<div id='work'>
	<h3>Work</h3>

	<div class='carousel-nav-wrapper'>
		<div class='carousel-nav'>
	  	<img id='carousel-nav-left' src='images/icons/arrow-left.svg' />
	  	<img id='carousel-nav-right' src='images/icons/arrow-right.svg'/>
		</div>
	</div>

	<div class='work-carousel'>

    <div class="item">
    	<div class="item-intro">
      	<div class="item-desc">
      		<span>2017.</span>
      		<h4>Paris Tennis Club</h4>
          <p>A web app to book a court on Paris Tennis website</p>
      	</div>
    	</div>
    	<div class='item-illustrations'>
    		<img src="images/work/paristennis.png" />
    	</div>
    	<div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/product.svg' %>
          <%= image_tag 'icons/design.svg' %>
          <%= image_tag 'icons/code.svg' %>
        </div>
        <div class='item-actions'>
          <span class='item-progress'>work in progress</span>
        </div>
  		</div>
    </div>

	  <div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2016.</span>
	    		<h4>Clustree</h4>
	        <p>Brand new version of the company corporate website</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/clustree-corpo-2.png" />
	  	</div>
	    <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/design.svg' %>
          <%= image_tag 'icons/code.svg' %>
        </div>
        <div class='item-actions'>
          <!-- <span class='item-scroll-me'>scroll me</i></span> -->
          <%= link_to 'visit me', 'https://www.clustree.com', title:'visit Clustree corporate website', target:'blank', class:'item-visit-me' %>
        </div>
	  	</div>
	  </div>

	  <div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2015-2016</span>
	    		<h4>Clustree</h4>
	        <p>A SaaS solution that turns 250 million worldwide career path data into HR recommendations</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/clustree-saas.png" />
	  	</div>
      <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/product.svg' %>
          <%= image_tag 'icons/design.svg' %>
        </div>
        <div class='item-actions'>
	  		 <%= link_to 'visit me', 'https://company.clustree.com', title:'visit Clustree saas application', target:'blank', class:'item-visit-me' %>
	  	  </div>
      </div>
	  </div>

		<div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2015.</span>
	    		<h4>Clustree</h4>
          <p>Previous version of the company corporate website</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/clustree-corpo-1.png" />
	  	</div>
      <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/design.svg' %>
          <%= image_tag 'icons/code.svg' %>
        </div>
        <div class='item-actions'>
				  <%= link_to 'visit me', 'https://www.clustree.com', title:'visit Clustree corporate website new version', target:'blank', class:'item-visit-me' %>
        </div>
      </div>
	  </div>

	  <div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2015.</span>
	    		<h4>Clustree</h4>
	        <p>A blog that talks about HR and big data</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/clustree-blog.png" />
	  	</div>
      <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/design.svg' %>
          <%= image_tag 'icons/code.svg' %>
        </div>
        <div class='item-actions'>
				  <%= link_to 'visit me', 'https://fr.news.clustree.com', title:'visit Clustree blog', target:'blank', class:'item-visit-me' %>
        </div>
			</div>
	  </div>

	  <div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2015.</span>
	    		<h4>Makiwars</h4>
	        <p>Salmon vs Avocado. Choose your side</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/makiwars.png" />
	  	</div>
		   <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/product.svg' %>
          <%= image_tag 'icons/design.svg' %>
          <%= image_tag 'icons/code.svg' %>
        </div>
        <div class='item-actions'>
				  <%= link_to 'visit me', 'http://makiswar-production.herokuapp.com', title:'visit MakiWars', target:'blank', class:'item-visit-me' %>
			  </div>
      </div>
	  </div>

	  <div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2015.</span>
	    		<h4>Booom</h4>
	        <p>A minesweeper for the 21st century</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/booom.png" />
	  	</div>
      <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/product.svg' %>
          <%= image_tag 'icons/design.svg' %>
          <%= image_tag 'icons/code.svg' %>
        </div>
        <div class='item-actions'>
				  <%= link_to 'visit me', 'http://booom.herokuapp.com', title:'visit Booom', target:'blank', class:'item-visit-me' %>
        </div>
      </div>
	  </div>

	  <div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2013-2014</span>
	    		<h4>SoKorpo</h4>
	        <p>A SaaS solution to engage company’s employees on Social Media</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/sokorpo.png" />
	  	</div>
      <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/product.svg' %>
        </div>
        <div class='item-actions'>
          <span class='item-offline'>offline</span>
        </div>
      </div>
	  </div>

		<div class="item">
	  	<div class="item-intro">
	    	<div class="item-desc">
	    		<span>2012-2013</span>
	    		<h4>Liiist</h4>
	        <p>A bookmarking app helping internet users organise their online research</p>
	    	</div>
	  	</div>
	  	<div class='item-illustrations'>
	  		<img src="images/work/liiist.png" />
	  	</div>
      <div class='item-footer'>
        <div class='item-domains'>
          <%= image_tag 'icons/product.svg' %>
        </div>
        <div class='item-actions'>
          <span class='item-offline'>offline</span>
        </div>
      </div>
	  </div>

	</div>
</div>

<div class="separator"></div>

<div id='about'>
  <div class='about-intro'>
    <h3>About</h3>
    <p>7 years of professional experience in large scale, hyper growth technology companies. Currently working with awesome people at
    <%= link_to 'Clustree', 'https://www.clustree.com', target:'blank' %>, I accept various freelance projects.</p>
  </div>
	<div class='timeline'>
		<div class='axis'>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
	  </div>
	</div>

	<div class='timeline-items'>
		<div class='timeline-item timeline-item-left'>
			<p>Master in Management</p>
			<span>2003 - 2009</span>
		</div>

		<div class='timeline-item'>
			<p>Project Manager at SeLoger.com</p>
			<span>2009 - 2012</span>
		</div>

		<div class='timeline-item timeline-item-left'>
			<p>Co-founder & Product Manager at Vega</p>
			<span>2012 - 2014</span>
		</div>

		<div class='timeline-item'>
			<p>Digital Consultant at Keley Consulting</p>
			<span>2014 - 2015</span>
		</div>

		<div class='timeline-item timeline-item-left'>
			<p>Coding Bootcamp at Le Wagon</p>
			<span>2015.</span>
		</div>

		<div class='timeline-item'>
			<p>Product Manager at Clustree</p>
			<span>2015 - Now</span>
		</div>
	</div>

</div>

<div id='footer'>
	<h3>Get in <span>touch</span></h3>
  <div class='footer-links'>
    <% link_to 'https://fr.linkedin.com/in/gregoirecharles', title:'linkedin', target:'blank' do %>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <% end %>
    <% link_to 'https://github.com/gregcha', title:'github', target:'blank' do %>
      <i class="fa fa-github" aria-hidden="true"></i>
    <% end %>
    <% link_to 'https://twitter.com/gregcha', title:'twitter', target:'blank' do %>
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    <% end %>
  </div>
	<form class='form'>
		<input type="text" name="_gotcha" style="display:none" />
	  <input type="hidden" name="_subject" class='form-input' value="Hi Greg!" />
    <input type="text" name="name" class='form-input'  placeholder='name' required />
    <input type="email" name="_replyto" class='form-input'  placeholder='email' required />
    <textarea rows="5" name="message" class='form-input' placeholder='message' required></textarea>
	  <button type="submit" value='Send'>send message</button>
	</form>
  <div class='copyrights'>
    <div>
      ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      gregcha - All Rights Reserved
    </div>
    <div>
      Icons made by
      <%= link_to 'Wissawa Khamsriwath', 'http://www.flaticon.com/authors/wissawa-khamsriwath', title: 'Wissawa Khamsriwath', target: 'blank' %>
    </div>
  </div>
</div>
