<div class='intro'>
	<h1>Hello! My name is Grégoire /[<span>gregwar</span>]/</h1>
	<p>I'm a product manager living in Paris. I like to design and build cool products on my spare time. Currently working with awesome people at Clustree, I accept various freelance projects.</p>
</div>

<div class='domains'>
	<div class='domain-single'>
		<%= image_tag 'icons/product.svg' %>
		<h2>Product Management</h2>
		<p>User research, customer interviews, requirements gathering, feature definition, sketching and wireframing are some of my day to day activities.</p>
	</div>
	<div class='domain-single'>
		<%= image_tag 'icons/design.svg' %>
		<h2>UI/UX Design</h2>
		<p>I design simple and clean interfaces for web and mobile, with focus on efficiency, usability, and great user experience.</p>
	</div>
	<div class='domain-single'>
		<%= image_tag 'icons/code.svg' %>
		<h2>Web Development</h2>
		<p>I build websites that look good on any device, using the latest technologies. My skills include Ruby, Rails, HTML(5), CSS(3), SASS, jQuery.</p>
	</div>
</div>

<div class="line-separator"></div>

<div class='work'>
	<h3>Projects</h3>
	<div id="work-carousel" class="carousel slide" data-ride="carousel">
		<a href="#work-carousel" class='carousel-nav' role="button" data-slide="prev">
	  	<%= image_tag 'icons/arrow-left.svg' %>
	  </a>
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/paristennis-1.png' %>
	    		<%= image_tag 'work/paristennis-2.png' %>
	    		<%= image_tag 'work/paristennis-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>ParisTennis.Club</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/booom-1.png' %>
	    		<%= image_tag 'work/booom-2.png' %>
	    		<%= image_tag 'work/booom-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>Booom, the minesweeper</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/clustreeapp-1.png' %>
	    		<%= image_tag 'work/clustreeapp-2.png' %>
	    		<%= image_tag 'work/clustreeapp-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>Clustree SaaS Solution</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/clustreecorpo1-1.png' %>
	    		<%= image_tag 'work/clustreecorpo1-2.png' %>
	    		<%= image_tag 'work/clustreecorpo1-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>Clustree Corporate Site - 2016</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/clustreecorpo2-1.png' %>
	    		<%= image_tag 'work/clustreecorpo2-2.png' %>
	    		<%= image_tag 'work/clustreecorpo2-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>Clustree Corporate Site - 2017</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/makiwars-1.png' %>
	    		<%= image_tag 'work/makiwars-2.png' %>
	    		<%= image_tag 'work/makiwars-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>MakiWars</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/clustreeblog-1.png' %>
	    		<%= image_tag 'work/clustreeblog-2.png' %>
	    		<%= image_tag 'work/clustreeblog-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>Clustree Blog</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/liiist-1.png' %>
	    		<%= image_tag 'work/liiist-2.png' %>
	    		<%= image_tag 'work/liiist-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>Liiist</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	    <div class="item">
	    	<div class=item-illustrations>
	    		<%= image_tag 'work/sokorpo-1.png' %>
	    		<%= image_tag 'work/sokorpo-2.png' %>
	    		<%= image_tag 'work/sokorpo-3.png' %>
	    	</div>
	      <div class="item-text">
	        <h4>SoKorpo</h4>
	        <p>lorem ipsum ta mere la grosse chouette connard</p>
	      </div>
	    </div>
	  </div>
	  <a href="#work-carousel" class='carousel-nav' role="button" data-slide="next">
  		<%= image_tag 'icons/arrow-right.svg' %>
  	</a>
	</div>
</div>

<div class="line-separator"></div>

<div class='milestones'>
  <h3>Milestones</h2>

	<div class='timeline'>
		<div class='axis'>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
	  </div>
	</div>

	<div class='timeline-item'>
		<p>Master in Management</p>
		<span>2003 - 2009</span>
	</div>

	<div class='timeline-item'>
		<p>Project Manager at SeLoger.com</p>
		<span>2009 - 2012</span>
	</div>

	<div class='timeline-item'>
		<p>Co-founder & Product Manager at Vega</p>
		<span>2012 - 2014</span>
	</div>

	<div class='timeline-item'>
		<p>Digital Consultant at Keley Consulting</p>
		<span>2014 - 2015</span>
	</div>

	<div class='timeline-item'>
		<p>Le Wagon Coding Bootcamp</p>
		<span>2015</span>
	</div>

	<div class='timeline-item'>
		<p>Product Manager at Clustree</p>
		<span>2015 - Now</span>
	</div>

  
</div>