<div class='intro'>
	<h1>Hello! My name is Grégoire /[<span>gregwar</span>]/</h1>
	<p>I'm a product manager living in Paris. I like to design and build cool products on my spare time. Currently working with awesome people at Clustree, I accept various freelance projects.</p>
</div>

<div class='domains'>
	<div class='domain-single'>
		<%= image_tag 'icons/product.svg' %>
		<h2>Product Management</h2>
		<p>User research, customer interviews, requirements gathering, feature definition, sketching and wireframing are some of my day to day activities.</p>
	</div>
	<div class='domain-single'>
		<%= image_tag 'icons/design.svg' %>
		<h2>UI/UX Design</h2>
		<p>I design simple and clean interfaces for web and mobile, with focus on efficiency, usability, and great user experience.</p>
	</div>
	<div class='domain-single'>
		<%= image_tag 'icons/code.svg' %>
		<h2>Web Development</h2>
		<p>I build websites that look good on any device, using the latest technologies. My skills include Ruby, Rails, HTML(5), CSS(3), SASS, jQuery.</p>
	</div>
</div>

<div class="line-separator"></div>

<div class='work'>
	<h3>Work</h3>
	<div id="work-carousel" class="carousel slide" data-ride="carousel" data-interval="0" data-pause="hover">
		<a href="#work-carousel" class='carousel-nav' role="button" data-slide="prev">
	  	<%= image_tag 'icons/arrow-left.svg' %>
	  </a>
	  <div class="carousel-inner" role="listbox">
	    
	    <div class="item active">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2016.</span>
	      		<h4>Clustree corporate website</h4>
		        <p>design + code</p>
	      	</div>
					<%= link_to 'visit website', 'https://www.clustree.com', target:'blank' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/clustree-corpo-2.png' %>
	    	</div>
      	<span class='item-scroll-me'>scroll me</i></span>
      </div>

      <div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2015-2016.</span>
	      		<h4>Clustree SaaS application</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'visit website', 'https://company.clustree.com', target:'blank' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/clustree-saas.png' %>
	    	</div>
      </div>

      <div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>work in progress.</span>
	      		<h4>Paris Tennis Club</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'visit website', '#', target:'blank' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/paristennis.png' %>
	    	</div>
      </div>

			<div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2015.</span>
	      		<h4>Clustree corporate website</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'visit website', 'https://www.clustree.com', target:'blank' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/clustree-corpo-1.png' %>
	    	</div>
      </div>

      <div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2015.</span>
	      		<h4>Clustree Blog</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'visit website', 'https://fr.news.clustree.com', target:'blank' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/clustree-blog.png' %>
	    	</div>
      </div>

      <div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2015.</span>
	      		<h4>Makiwars</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'visit website', 'http://makiswar-production.herokuapp.com/', target:'blank' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/makiwars.png' %>
	    	</div>
      </div>

       <div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2015.</span>
	      		<h4>Booom</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'visit website', 'http://booom.herokuapp.com/' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/booom.png' %>
	    	</div>
      </div>

      <div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2013-2014.</span>
	      		<h4>Sokorpo</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'offline :(', '#', style:'background:#bdc3c7;' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/sokorpo.png' %>
	    	</div>
      </div>

			<div class="item">
      	<div class="item-intro">	
	      	<div class="item-desc">	
	      		<span>2012-2013.</span>
	      		<h4>Liiist</h4>
		        <p>product management</p>
	      	</div>
					<%= link_to 'offline :(', '#', style:'background:#bdc3c7;' %>
	    	</div>
      	<div class='item-illustrations'>
	    		<%= image_tag 'work/liiist.png' %>
	    	</div>
      </div>

	  </div>

	  <a href="#work-carousel" class='carousel-nav' role="button" data-slide="next">
  		<%= image_tag 'icons/arrow-right.svg' %>
  	</a>

	</div>
</div>

<div class="line-separator"></div>

<div class='milestones'>
  <h3>Milestones</h2>

	<div class='timeline'>
		<div class='axis'>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
			<div class='dots'></div>
	  </div>
	</div>

	<div class='timeline-item'>
		<p>Master in Management</p>
		<span>2003 - 2009</span>
	</div>

	<div class='timeline-item'>
		<p>Project Manager at SeLoger.com</p>
		<span>2009 - 2012</span>
	</div>

	<div class='timeline-item'>
		<p>Co-founder & Product Manager at Vega</p>
		<span>2012 - 2014</span>
	</div>

	<div class='timeline-item'>
		<p>Digital Consultant at Keley Consulting</p>
		<span>2014 - 2015</span>
	</div>

	<div class='timeline-item'>
		<p>Le Wagon Coding Bootcamp</p>
		<span>2015</span>
	</div>

	<div class='timeline-item'>
		<p>Product Manager at Clustree</p>
		<span>2015 - Now</span>
	</div>

  
</div>